@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100dvh;
  max-width: 100dvw;
  overflow-x: hidden;
}

nav {
  top: 0;
  left: 0;
  z-index: 1;
  position: sticky;
}

main {
  width: 100%;
  height: calc(100% - 72px);
  max-height: fit-content;

  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}
